*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body, h1, h2, h3, h4, h5, h6, p,
blockquote, figure, img, dl, dd, dt {
  color: black;
  margin: 0px;
  padding: 0px;
}

table {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}